<div class='parking-details-map'>
  <!-- <img class='parking-map-wide' src='/images/maps/google-map-wide.jpg'> -->
  {{google-map
    lat=lat
    lng=lng
    markers=markers
    zoom=zoom
    markerHasInfoWindow=false
    type='road'
    gopt_scrollwheel=false
    class="parking-details-map"
  }}
</div>

<div class='container-fluid parking-details-content'>
  <div class='row full-h'>
    <div class='col-xs-12 col-sm-8 full-h overflow-y'>
      <div class="full-h">
        <div class='margin-t'>
          <h4>{{model.address}}</h4>
          <h5>
            <strong>&#36;{{model.price}}/month</strong>
          </h5>

          <hr>

        </div>

        <!-- <div class='garage-image'>
        </div> -->

        <div class='margin-t'>
 
		  <div class='parking-info'>
            <h4>The Spot</h4>
			<ul class='list-unstyled'>
			<li><strong>Parking type:</strong> indoor garage, 1 tier, lights</li>
			<li><strong>Spot Dimension:</strong> 120” Max Length / 90” Max Width (fits a Dodge Caravan)</li>
			<li><strong>Max. Height:</strong> XXX” Max </li>
			</ul>
          </div>
          
		  
		  <div class='parking-info'>
			<h4>Access</h4>
			<ul class='list-unstyled'>
			<li><strong>Hours:</strong> 24/7</li>
			<li><strong>Entrance:</strong> Gate (garage key provided)</li>
			</ul>
		  </div>
          
		  
		  <div class='parking-info'>
            <h4>Amenities</h4>
			<ul class='list-unstyled'>
			<li>Wheelchair/stroller accessible</li>
			<li>Security cameras</li>
			<li>S Electric car charging station (contact us to book this specific spot)</li>
			</ul>
          </div>




		  <div class='parking-info'>
            <h4>Neighborhood</h4>
			<ul class='list-unstyled'>
			<li>Pioneer Square</li>
			</ul>
          </div>

		  <div class='parking-info'>
            <h4>Car Services</h4>
			<ul class='list-unstyled'>
			<li>Shell Gas Station</li>
			<li>Towing</li>
			<li>Carwash</li>
			</ul>
          </div>



        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4 full-h'>
      <div class='starting-date full-h'>
        <div class="parking-spots-banner text-center">&#36;{{model.price}}/month <i class="fa fa-circle"></i> 3 spots left</div>
        <br>
        <h4 class="margin-t text-center">Select Starting Date</h4>
        <div class="form-group">
          <label class="sr-only">Calendar</label>
          <div class="input-group">
            {{date-picker class='form-control'}}
            <div class="input-group-addon"><i class='fa fa-calendar'></i></div>
          </div>
        </div>
        <div class='text-center'>
          <button class='btn btn-theme-bg btn-lg btn-orange' {{action 'createOrLogin'}}>Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
