{{!-- {{#if isIn}} --}}

  {{partial 'topnav/default'}}

  {{outlet}}
{{!-- {{else}}
  <form  {{action 'submitPassword'}}>
    <label>Enter password</label>
    {{input value=password}}
    <button>Submit</button>
  </form>
{{/if}} --}}
{{google-map
  lat=centerLat
  lng=centerLng
  alwaysAutoFitBounds=true
  autoFitBounds=true
  markers=markers
  zoom=zoom
  type='road'
}}

<button {{action 'test'}}>TEST</button>
{{ember-notify messageStyle='bootstrap'}}
