{{!-- {{#if isIn}} --}}

  {{partial 'topnav/default'}}

  {{outlet}}
{{!-- {{else}}
  <form  {{action 'submitPassword'}}>
    <label>Enter password</label>
    {{input value=password}}
    <button>Submit</button>
  </form>
{{/if}} --}}

<!--
<button {{action 'test'}}>TEST</button> -->
{{ember-notify messageStyle='bootstrap'}}
